.ulmenu {
	list-style-type: none;
	margin: 0;
	padding: 10;
	overflow: hidden;
	color: black;
}

.liheader {
	float: right;
	display: inline;
	padding: 6px 6px;
	font-size: 25px;
	display: block;
	color: #a9faf3;
	text-align: center;
	text-decoration: none;
}

.portraittext {
	float: left;
	text-align: left;
	display: inline;
	padding: 2px;
	font-size: 25px;
}

.liaheader {
	float: right;
	display: inline;
	padding: 2px;
	font-size: 25px;
	display: block;
	color: #a9faf3;
	text-align: center;
	padding: ;
	text-decoration: none;
}

.liaheader:hover {
	color: #6E96BF;
}

.column {
	float: left;
	width: 30%;
	padding: 10px;
	height: 350px;
	border: 2px solid white;
	border-width: 2px 2px 2px 2px;
}

.shortcolumn {
	width: 100%;
	border: solid black;
	height: 30px;
	border-width: 2px 0px 0px 0px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

li.homepagelist {
	font-size:14px;
	float:left;
}


div.reviewlist {
	border-radius:25px white;
	border:2px solid white;
	padding:10px;
	width:20%;
	height:85px;
	font-size:14px;
	font-weight:normal;
	margin:25px;
	float:left;
}
